<div class="col-md-12" ng-controller="BuyerwatchCtrl">

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body">
        Bid:
        <br/>
        <input type="number" ng-model="bid"/>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

<toast></toast>

<a ng-href="#/buyerlanding/{{id}}" class="btn btn-primary">
  <span class="glyphicon glyphicon-transfer"></span> Car Search 
</a>

<br/>

	<table st-table="rowCollection" class="table table-striped">
	    <thead>
	      <tr>
	      <th>Stop Watch</th>
		   	<th>Year/Make/Model</th>
        <th>Your Bid</th>
        <th>Current Bid</th>
		    <th>Stock #</th>
		    <th>Odometer</th>
      	</tr>
    	</thead>
    	<tbody>
      	<tr ng-repeat="row in carlist">
      		<td>
              <a ng-click="removeFromWatchList(row.vin)" class="btn btn-danger">
                <span class="glyphicon glyphicon-eye-close"></span> Stop 
              </a>
            </td>
          	<td><a ng-click="open(row.vin)">{{row.year}} {{row.make}} {{row.model}}</a></td>
            <td>{{highestBidMap[row.vin].id == id}}</td>
            <td>{{highestBidMap[row.vin].amount}}</td>
        	<td>{{row.stockNumber}}</td>
      		<td>{{row.odometer}}</td>
       	</tr>
	    </tbody>
    </table>

</div>
