<div class="col-md-12" ng-controller="AddcarpartialCtrl">

	<h2>Welcome {{newcar.seller}}</h2>

  	<button type="button" class="btn btn-danger" ng-click="clear()">Cancel</button>
  	<button type="button" class="btn btn-info" ng-click="addcar()">Submit</button>

	<p class="form-group">
    	<label>VIN</label>
    	<input type="text" ng-model="newcar.vin" class="form-control">
  	</p>

    <p class="form-group">
    	<label>Year</label>
    	<input type="number" ng-model="newcar.year" class="form-control">
  	</p>

    <p class="form-group">
    	<label>Make</label>
    	<input type="text" ng-model="newcar.make" class="form-control">
  	</p>

    <p class="form-group">
    	<label>Model</label>
    	<input type="text" ng-model="newcar.model" class="form-control">
  	</p>

    <p class="form-group">
    	<label>Odometer</label>
    	<input type="number" ng-model="newcar.odometer" class="form-control">
  	</p>

    <p class="form-group">
    	<label>Opening Bid</label>
    	<input type="number" ng-model="newcar.openingBid" class="form-control">
  	</p>

    <p class="form-group">
    	<label>Stock Number</label>
    	<input type="number" ng-model="newcar.stockNumber" class="form-control">
  	</p>

    <p class="form-group">
    	<label>Comments</label>
    	<input type="text" ng-model="newcar.comments" class="form-control">
  	</p>

    <p class="form-group">
    	<label>Additional Comments</label>
    	<input type="text" ng-model="newcar.additionalComments" class="form-control">
  	</p>
  	
  	<button type="button" class="btn btn-danger" ng-click="clear()">Cancel</button>
  	<button type="button" class="btn btn-info" ng-click="addcar()">Submit</button>

</div>
