<div class="col-md-12" ng-controller="BuyerlandingCtrl">

Hallo from the buyer landing page.

	<table st-table="rowCollection" class="table table-striped">
	    <thead>
	      <tr>
		      <th>Year/Make/Model</th>
		      <th>Stock #</th>
		      <th>Odometer</th>
      	</tr>
    	</thead>
    	<tbody>
      	<tr ng-repeat="row in carlist">
      		<td>{{row.year}} {{row.make}} {{row.model}}</td>
        	<td>{{row.stockNumber}}</td>
      		<td>{{row.odometer}}</td>
       	</tr>
	    </tbody>
    </table>

</div>
