<div class="col-md-12" ng-controller="SellerslistCtrl">

	<H1>Sellers List</H1>

	<toast></toast>

	<a ng-href="#/addcar/{{id}}" class="btn btn-primary">
	  <span class="glyphicon glyphicon-transfer"></span> Add Car 
	</a>

	<br/>

	<table st-table="rowCollection" class="table table-striped">
	    <thead>
	    	<tr>
	      		<th>Year/Make/Model</th>
        		<th>Current Bid</th>
		    	<th>Stock #</th>
		    	<th>Odometer</th>
      		</tr>
    	</thead>
    	<tbody>
      	<tr ng-repeat="row in carlist">
          	<td><a ng-click="open(row.vin)">{{row.year}} {{row.make}} {{row.model}}</a></td>
            <td>{{highestBidMap[row.vin].amount}}</td>
        	<td>{{row.stockNumber}}</td>
      		<td>{{row.odometer}}</td>
       	</tr>
	    </tbody>
    </table>
</div>
